<h1>Listing richtexts</h1>

<table>
  <tr>
    <th>Block</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @richtexts.each do |richtext| %>
  <tr>
    <td><%= richtext.block_id %></td>
    <td><%= richtext.content %></td>
    <td><%= link_to 'Show', richtext %></td>
    <td><%= link_to 'Edit', edit_richtext_path(richtext) %></td>
    <td><%= link_to 'Destroy', richtext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Richtext', new_richtext_path %>
