<p id="notice"><%= notice %></p>

<p>
  <b>Imageable:</b>
  <%= @image.imageable_id %>
</p>

<p>
  <b>Imageable type:</b>
  <%= @image.imageable_type %>
</p>

<p>
  <b>Upload:</b>
  <%= @image.upload_id %>
</p>

<p>
  <b>Caption:</b>
  <%= @image.caption %>
</p>

<p>
  <b>Position:</b>
  <%= @image.position %>
</p>

<p>
  <b>Url link:</b>
  <%= @image.url_link %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
